<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>


    <script src="https://cdn.jsdelivr.net/npm/fabric"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.19/vue.global.prod.min.js"
            integrity="sha512-fKBNYyrjNXpxYeecQyWzpvdaD1p+8MUKpiTF3oPkSggVIpq6R17Q7EZ6RFg8PBoSslppmWeUvUWPp8NBr8b3Aw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

<div style="display:flex" id="app">
    <div style="width:200px">
        <button ondragstart="onDragstart('rect')" draggable="true" onclick="setText('例A1565555555','tag_no')">内单号
        </button>
        <button draggable="true" onclick="setLine()">横线</button>
        <button draggable="true" onclick="setVeritcalLine()">竖线</button>
        <button draggable="true" onclick="setRect()">矩形</button>
        <button ondragstart="onDragstart('i-text')" draggable="true" onclick="setIText()">自定义文本</button>

        <input type="file" accept="image/*" name="" id="upload" onchange="handleImg(this)">
        <button type="file" ondragstart="onDragstart('i-text')" draggable="true" onclick="setImg()">自定义图片</button>
        <button draggable="true" onclick="test()">自定义按钮</button>

    </div>
    <div style="flex-grow:1">
        <div>
            <input id="a"/>
            <input id="b"/>
            <button onclick="set()">Submit</button>
        </div>

        <canvas id="canvas" width="595" height="841" style="border:1px solid red;margin-top:10px"></canvas>
    </div>

    <div>
        {{ message }}
        <div>
            <div v-if="!real_empty(edit_info.left)">
                <span>X轴</span>
                <input type="number" v-model="edit_info.left" @change="changeActiveObject()"/>
            </div>
            <div v-if="edit_info.top || edit_info.top == 0">
                <span>Y轴</span>
                <input type="number" v-model="edit_info.top" @change="changeActiveObject()"/>
            </div>
            <div v-if="edit_info.text">
                <span>文本</span>
                <input type="text" v-model="edit_info.text" @change="changeActiveObject()"/>
            </div>
            <div v-if="!real_empty(edit_info.fontSize)">
                <span>字体大小</span>
                <input type="text" v-model="edit_info.fontSize" @change="changeActiveObject()"/>
            </div>
        </div>

        <button @click="del">删除元素</button>
    </div>
</div>


<script type="text/javascript">


    let type = null;

    function onDragstart(type_name) {
        type = type_name;
    }

    var app = Vue.createApp({
        data() {
            return {
                edit_info: {
                    type: '',
                    left: "",
                    top: '',
                    width: '',
                    height: "",
                    text: '',
                    fontSize: ''
                },
                message: 'Hello Vue!'
            }
        },
        methods: {
            real_empty(data) {
                if (data === undefined || data === null) return true;
                return false
            },
            changeActiveObject() {
                console.log(111);
                let obj = canvas.getActiveObject();
                console.log(obj);
                if (obj) {
                    let attr = {}
                    if (!this.real_empty(this.edit_info.left)) {
                        attr.left = this.edit_info.left;
                    }
                    if (!this.real_empty(this.edit_info.top)) {
                        attr.top = this.edit_info.top;
                    }
                    if (!this.real_empty(this.edit_info.fontSize)) {
                        attr.fontSize = this.edit_info.fontSize;
                    }
                    if (!this.real_empty(this.edit_info.text)) {
                        attr.text = this.edit_info.text;
                    }

                    // console.log(attr);
                    obj.set(attr);
                    canvas.requestRenderAll();
                    console.log("set success", attr);
                    // let type = obj.get('type');
                    // app.edit_info.type = type;
                    // app.edit_info.left = obj.left;
                    // app.edit_info.top = obj.top;
                    // app.edit_info.width = obj.width;
                    // app.edit_info.height = obj.height
                    // app.edit_info.fontSize = obj.fontSize
                    //
                    // console.log(app.edit_info);
                }
            },
            del() {
                let obj = canvas.getActiveObject();
                canvas.remove(obj);
            }
        }
    });
    app = app.mount('#app')
    const canvas = new fabric.Canvas('canvas');

    canvas.on('drop', (opt) => {
        console.log(opt);
        let offset = {
            left: canvas.getSelectionElement().getBoundingClientRect().left,
            top: canvas.getSelectionElement().getBoundingClientRect().top
        }
        console.log("offset", offset);

        // 鼠标坐标转换成画布的坐标（未经过缩放和平移的坐标）
        let point = {
            x: opt.e.x - offset.left,
            y: opt.e.y - offset.top,
        }
        if (type === 'rect') {
            setRect(point);
        }

        if (type === 'i-text') {
            setIText(point);
        }

        type = null;
    })
    fabric.TableCell = fabric.util.createClass(fabric.Group, {
        type: 'tableCell',
        text: null,
        rect: null,
        initialize: function (rectOptions, textOptions, text) {
            this.rect = new fabric.Rect(rectOptions)
            this.text = new fabric.Textbox(text, {
                ...textOptions,
                selectable: false,
            })
            this.on('mousedblclick', () => {
                this.selectable = false
                this.text.selectable = true
                this.canvas.setActiveObject(this.text)
                this.text.enterEditing()
            })
            this.on('mousedown', () => {
                // this.rect.set('fill', 'green')
                // this.canvas.requestRenderAll()
            })
            this.text.on('editing:exited', () => {
                this.text.selectable = false
                this.selectable = true
            })

            this.callSuper('initialize', [this.rect, this.text], {
                subTargetCheck: true,
                objectCaching: false
            })
        },
        toObject: function () {
            return fabric.util.object.extend(this.callSuper('toObject'), {
                text: this.text.get('text')
            })
        }
    })

    fabric.Table = fabric.util.createClass(fabric.Group, {
        type: 'table',
        borderWidth: 4, // 单元格边框宽度
        rowHeights: [], // 行高，每一行的高度可以自由配置
        columnWidths: [], // 列宽，每一列的宽度可以自由配置
        initialize: function (tableOptions) {
            const {left, top, borderWidth, rowHeights, columnWidths, columns, data} =
                tableOptions

            const rectOptions = {
                rx: 0,
                stroke: '#000',
                fill: 'transparent',
                shadow: 0,
                strokeWidth: +borderWidth,
                strokeUniform: true
            }

            const textOptions = {
                lineHeight: 1,
                fontSize: 20,
                stroke: '#000',
                fill: '#000',
                selectable: false,
                textAlign: 'center',
                editingBorderColor: '#FF9002'
            }

            let arr = [];
            if (columns) {
                let totalW = 0;
                for (let column of columns) {
                    const cell = new fabric.TableCell(
                        {
                            ...rectOptions,
                            left: totalW + 1,
                            top: 0,
                            width: column.width || 100,
                            height: rowHeights
                        },
                        {
                            ...textOptions,
                            left: totalW + 1 + rectOptions.strokeWidth,
                            top: rowHeights / 2 - textOptions.fontSize * textOptions.lineHeight/2,
                            width: column.width || 100,
                            height: rowHeights
                        },
                        column.title || ''
                    )
                    arr.push(cell)
                    totalW += column.width || 100;
                }
            }

            if (data) {
                let index = 0;
                for (let item of data) {
                    let totalW = 0;
                    for (let column of columns) {
                        let key = column.key;
                        const cell = new fabric.TableCell(
                            {
                                ...rectOptions,
                                left: totalW + 1,
                                top: rowHeights * (index + 1),
                                width: column.width || 100,
                                height: rowHeights
                            },
                            {
                                ...textOptions,
                                left: totalW + 1 + rectOptions.strokeWidth,
                                top: rowHeights * (index + 1) + rowHeights / 2 - textOptions.fontSize * textOptions.lineHeight/2,
                                width: column.width || 100,
                                height: rowHeights
                            },
                            String(item[key] || ''),
                        )
                        arr.push(cell)
                        totalW += column.width || 100;
                    }
                    index++;
                }
            }

            this.borderWidth = borderWidth
            this.rowHeights = rowHeights
            this.columnWidths = columnWidths
            this.data = data;
            this.columns = columns;
            this.callSuper('initialize', arr, {
                subTargetCheck: true,
                objectCaching: false,
                left,
                top
            })
        },
        toObject: function () {
            return fabric.util.object.extend(this.callSuper('toObject'), {
                borderWidth: this.get('borderWidth'),
                rowHeights: this.get('rowHeights'),
                columnWidths: this.get('columnWidths'),
                data: this.get('data'),
                columns: this.get('columns')
            })
        }
    })

    fabric.Table.fromObject = function (o, callback) {
        const options = {
            left: o.left,
            top: o.top,
            rowHeights: o.rowHeights,
            columnWidths: o.columnWidths,
            borderWidth: o.borderWidth,
            data: o.data,
            columns: o.columns
        }
        const newTable = new fabric.Table(options)
        callback(newTable)
    }


    function test() {
        const options = {
            left: 20,
            top: 20,
            borderWidth: 1,
            rowHeights: 50,
            columns: [
                {
                    title: "1111",
                    key: "age",
                    width: 100
                },
                {
                    title: "2222",
                    key: "name",
                    width: 100
                },
                {
                    title: "3333",
                    key: "key3",
                    width: 100
                },
                {
                    title: "4444",
                    key: "key4",
                    width: 100
                }
            ],
            data: [
                {
                    "age": "列1",
                    "name": "列2",
                    key3: "列3",
                    key4: "列4"
                },
                {
                    "age": 111,
                    "name": "xxxx",
                    key3: "xxx",
                    key4: "key4"
                },
                {
                    "age": 111,
                    "name": "xxxx",
                    key3: "xxx",
                    key4: "key4"
                }
            ],
        };
        // const canvas = this.canvas;
        // const center = canvas.getCenter();
        const table = new fabric.Table(options);
        // table.set("left", center.left - table.width / 2);
        // table.set("top", center.top - table.height / 2);
        canvas.add(table);

    }

    function set() {
        let width = document.querySelector("#a").value;
        let height = document.querySelector("#b").value;
        width = width * 2.835 * 96 / 72;
        height = height * 2.835 * 96 / 72;
        canvas.setWidth(width)
        canvas.setHeight(height)
        // document.querySelector("#canvas").width = width;
        // document.querySelector("#canvas").height = height;
    }

    function setText(text, sys_field) {
        let obj = new fabric.Text(text, {
            left: 100,
            top: 100,
            fontSize: 50
        })
        if (sys_field) {
            obj.sys_field = sys_field;
        }
        canvas.add(obj)
    }

    function setIText(attr) {
        let obj = new fabric.IText("请输入你想要的文字", {
            left: attr.x || 100,
            top: attr.y || 100,
            fontSize: 14
        })
        canvas.add(obj)
    }

    function setLine() {
        let line = new fabric.Line([100, 100, 200, 100], {
            stroke: 'black',
            strokeWidth: 2
        })
        line.sys_type = 'tag_no';

        canvas.add(line);
    }

    function setVeritcalLine(argument) {
        let line = new fabric.Line([100, 100, 100, 400], {
            stroke: 'black',
            strokeWidth: 2
        })
        line.sys_type = 'tag_no';

        canvas.add(line);
    }

    function setRect(attr) {
        let Rect = fabric.Rect;
        let line = new fabric.Rect({
            left: attr ? attr.x : 0,
            top: attr ? attr.y : 0,
            width: 200,
            height: 100,
            fill: 'transparent', // 填充色
            stroke: '#000' // 边框颜色
        })

        canvas.add(line);
    }

    canvas.on('selection:created', function () {
        saveActiveInfo();
    });


    canvas.on('object:modified', function () {
        saveActiveInfo();
        console.log("change")
        let obj = canvas.getActiveObject();
        let attr = {
            width: obj.width * obj.scaleX,
            height: obj.height * obj.scaleY,
            scaleX: 1,
            scaleY: 1
        }
        obj.set(attr);
        // let type = obj.get('type');
        // if (type === 'rect') {
        //     let attr = {
        //         width: obj.width * obj.scaleX,
        //         height: obj.height * obj.scaleY,
        //         scaleX: 1,
        //         scaleY: 1
        //     }
        //     obj.set(attr);
        // }
        // if (type === 'i-text') {
        //     let attr = {
        //         width: obj.width * obj.scaleX,
        //         height: obj.height * obj.scaleY,
        //         scaleX: 1,
        //         scaleY: 1,
        //     }
        //     obj.set(attr);
        // }

    })

    function setImg() {
        document.querySelector("#upload").click();
    }

    function handleImg(e) {
        console.log(e.files[0])
        let url = window.URL.createObjectURL(e.files[0])
        console.log(url);
        fabric.Image.fromURL('https://img-home.csdnimg.cn/images/20240218021830.png', (img) => {
            img.set({scaleX: 0.2, scaleY: 0.2})
            canvas.add(img);
        })
        // var img = new fabric.Image(url);
        // img.set({left:100,top:100});
        // canvas.add(img);
        // var reader = new FileReader();
        // reader.onload = function(e) {
        //     var image = new Image();
        //     image.src = e.files[0];
        //     image.onload = function() {
        //         var img = new fabric.Image(image);
        //         img.set({
        //             left: 100,
        //             top: 60
        //         });
        //         img.scaleToWidth(200);
        //         canvas.add(img).setActiveObject(img).renderAll();
        //     }
        // }
        // reader.readAsDataURL(e.target.files[0]);
    }

    function saveActiveInfo() {
        let obj = canvas.getActiveObject();
        if (obj) {
            let type = obj.get('type');
            app.edit_info.type = type;
            app.edit_info.text = obj.text;
            app.edit_info.left = obj.left;
            app.edit_info.top = obj.top;
            app.edit_info.width = obj.width;
            app.edit_info.height = obj.height
            app.edit_info.fontSize = obj.fontSize

            console.log(app.edit_info);
        }
    }

</script>
</body>
</html>